h1{
  font-family: Arial;
  color:blue;
  font-size: 48px;
}
  h3{
    font-size: 40px;
    font-family: Arial;
  }
p{
  font-family:Arial;
  font-size: 18px;
}
li{ font-family: Cursive;
    font-size: 24px;
  }
  h2 {
  font-family: Arial;
}
#results{
font-family:Arial;
font-size: 20px;

}
