h1{
  font-family: Arial;
  color:blue;
  font-size: 48px;
}
  h3{
    font-size: 40px;
    font-family: Arial;
  }
p{
  font-family:Arial;
  font-size: 18;
}
li{ font-family: Cursive;
    font-size: 24;
  }
